h3.perphret-header {
  margin: 0;
  background: #0078D7;
  color: white;
  padding: 1em;

  font-size: 28px;
  font-family: Segoe UI Light WestEuropean,Segoe UI Light,Segoe UI,Tahoma,Arial,sans-serif;
  font-weight: 400;
}

.perphret-row {
  height: 45px;
  padding: 15px;
}

.perphret-item.perphret-item-1 {
  width: 100%;
  display: inline-block;
}
.perphret-item.perphret-item-2 {
  width: 33%;
  display: inline-block;
}
.perphret-item.perphret-item-3 {
  width: 33%;
  display: inline-block;
}


.perphret-item-heading {
  font-family: Segoe UI Light WestEuropean,Segoe UI Light,Segoe UI,Tahoma,Arial,sans-serif;
  font-size: 18px;
  color: #0078d7;
  font-weight: 600;
}

.perphret-item-content {
  font-family: Segoe UI Light WestEuropean,Segoe UI Light,Segoe UI,Tahoma,Arial,sans-serif;
  font-size: 24px;
  color: #333;
  font-weight: 400;
}

.text-center {
  text-align: center;
}
